<!-- Head for all HTML pages -->
<head>
  <!-- Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% include analytics.html %}

  <!-- Meta Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.is_post %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">
  {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif %}
  <title>
    {% if page.title and page.disable_title != true %}
      {{ page.title }} | {{ site.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% if page.mathjax %}
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {% endif %}
  
</head>